google-cloud-aiplatform 
google-cloud-bigquery 
langchain 
langchain-core 
langchain-text-splitters 
langchain-google-vertexai 
langchain-community 
langchain-chroma 
langchain-google-genai 
langchain-openai 
langchain-experimental
faiss-cpu 
pypdf
sqlalchemy
sqlalchemy-bigquery
PyMuPDF 
python-dotenv 
Pillow
